@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-duck {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-duck {
  width: 200px;
}

.container-game {
  color: white;
  padding-top: 130px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-img-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 337.5px;
  margin-right: 20px;
}

.container-img-table h2 {
  text-align: center;
}

.img-buttons {
  display: flex;
}

.container-div-all-img {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0 20px 0 20px;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.226);
}

.div-all-img {
  display: flex;
  align-items: center;
  height: 110px;
  margin: 5px;
}

.all-img {
  transition: 300ms;
  border-radius: 10px;
}

.all-img:hover {
  cursor: pointer;
}

.selected-img {
  border: solid 2px green;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.541);
  transform: scale(1.07);
  z-index: 2;
}

.play-game {
  margin-top: 50px;
  padding: 10px 13px 3px 10px;
  font-size: 40px;
  font-weight: normal;
  background-color: green;
  border: solid 3px white;
  border-radius: 10px;
  color: yellow;
  font-family: SUPERNINTENDO;
  box-shadow: 0 0 20px 1px rgb(44, 44, 44);
  transition: 300ms;
  text-decoration: none;
}

.play-game:hover {
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.541);
  transform: scale(1.07);
  z-index: 2;
  cursor: pointer;
}

.full-description-h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.full-description {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  width: 700px;
  text-shadow: 2px 2px 2px black;
}

.msr-h2 {
  margin-top: 50px;
}

table {
  border-spacing: 0;
  margin-bottom: 50px;
  background-color: #2b002b;
  border-radius: 10px;
}

.th-graphics {
  border-radius: 10px 0 0 0;
}

.td-graphics {
  border-radius: 0 10px 0 0;
}

.th-storage {
  border-radius: 0 0 0 10px;
  border-width: 3px 0 3px 3px;
}

.td-storage {
  border-radius: 0 0 10px 0;
  border-width: 3px;
}

th {
  text-align: start;
  border: solid 3px black;
  border-width: 3px 0 0 3px;
  padding: 10px;
}

td {
  padding: 10px;
  border: solid 3px black;
  border-width: 3px 3px 0 3px;
}


.btnNext {
  font-size: 30px;
  background: linear-gradient(to right, black 1%, #440344 99%);
  color: white;
  opacity: 0.5;
  width: 35px;
  border: none;
  transition: 300ms;
}

.btnNext:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btnPrev {
  background: linear-gradient(to left, black 1%, #440344 99%);
  font-size: 30px;
  color: white;
  opacity: 0.5;
  width: 35px;
  border: none;
  transition: 300ms;
}

.btnPrev:hover {
  cursor: pointer;
  opacity: 0.7;
}

.description {
  max-width: 300px;
  background-color: #360136;
  border-radius: 10px;
  padding: 15px;
  margin-left: 50px;
  box-shadow: 0px 0px 20px 1px black;
}

.img-thumb {
  width: 100%;
  border-radius: 10px;
}

.description h3 {
  margin-left: 10px;
}

.description-text {
  background-color: #2b002b;
  border: solid 2px white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.description-text p {
  margin: 0;
}

.genre-rele-dev {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.genre-rele-dev h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
}

.genre-rele-dev p {
  margin: 0;
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
  .loading-duck {
    width: 100px;
  }

  .container-game {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin-left: 0;
    order: 1;
    margin-bottom: 50px;
    transform: scale(0.9);
  }

  .container-img-table {
    display: flex;
    flex-direction: column;
    order: 2;
    margin-right: 0;
    width: 100%;
  }

  .container-img-table img {
    width: 280px;
    margin-bottom: 0;
    border-radius: 10px;
  }

  .img-buttons {
    flex-direction: column;
    align-items: center;
  }

  .container-buttons {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btnPrev {
    width: 50%;
  }

  .btnNext {
    width: 50%;
  }

  .container-div-all-img {
    width: 200px;
    margin-right: 0;
    margin-top: 10px;
    background-color: #440344;
  }

  .div-all-img {
    height: 60px;
  }

  .div-all-img img {
    width: 80px;
  }

  .full-description {
    width: 85%;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  table {
    transform: scale(0.8);
  }

  .msr-h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 20px;
  }
}