.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 0, 46);
  color: white;
  opacity: 0.9;
}

.link-home {
  margin-left: 50px;
}

.input-search {
  padding: 10px 10px 10px 15px;
  border: none;
  border-radius: 100px 0 0 100px;
  background-color: rgb(29, 0, 29);
  color: white;
  font-size: 15px;
}

.input-search:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container-input-button {
  display: flex;
}

.btn-search {
  border: solid 2px black;
  border-width: 0 0 0 1px;
  width: 50px;
  border-radius: 0 100px 100px 0;
  background-color: rgb(0, 128, 0);
  transition: 300ms;
}

.btn-search:hover {
  cursor: pointer;
  background-color: green;
}

.link-favorites {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  font-size: 18px;
  transition: 200ms;
  margin-right: 50px;
  width: 120px;
}

.link-favorites:hover {
  color: green;
}

@media only screen and (max-width: 900px) {
  .header {
    justify-content: space-between;
    position: fixed;
    height: 70px;
    opacity: 0.95;
    z-index: 3;
  }

  .link-home {
    width: 100px;
  }

  .just-FF {
    margin-left: 10px;
  }

  .btn-search {
    width: 40px;
  }

  .input-search {
    width: 120px;
    padding: 10px 10px 10px 15px;
    border-radius: 15px 0 0 15px;
    margin: 0;
  }

  .link-favorites {
    width: 10%;
    margin-right: 0;
    font-size: 15px;
  }

  .link-profile {
    margin-left: 0;
    margin-right: 10px;
  }
}
