main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://i.imgur.com/2gfwG.png');
  background-position: bottom;
  background-size: cover;
}

.logo {
  width: 450px;
  margin-bottom: 100px;
  margin-right: 100px;
}

.div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 0, 54);
  padding: 30px;
  border-radius: 10px;
  margin-left: 100px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-login {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 20px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(41, 0, 41);
  color: white;
}

.input-login:focus {
  box-shadow: 0;
  outline: 0;
}

.button-login {
  padding: 15px;
  font-size: 20px;
  margin-top: 30px;
  width: 320px;
  border: none;
  border-radius: 10px;
  background-color: green;
  transition: 300ms;
}

.button-login:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.button-login:disabled {
  background-color: rgba(0, 128, 0, 0.527);
}


@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
  }

  main header {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 50%;
    margin-right: 0;
    margin-left: 0;
  }

  .div-login {
    width: 70%;
    margin: 0;
  }

  .form-login {
    width: 100%;
  }

  .input-login {
    width: 90%;
    font-size: 15px;
  }

  .button-login {
    width: 80%;
  }
}
