main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp2757868.gif');
  background-position: bottom;
  background-size: cover;
}

.logo {
  width: 350px;
  margin-left: 250px;
  margin-bottom: 50px;
}

.div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 0, 54);
  padding: 30px;
  margin-left: 230px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-login {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 20px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(41, 0, 41);
  color: white;
}

.input-login:focus {
  box-shadow: 0;
  outline: 0;
}

.button-login {
  padding: 15px;
  font-size: 20px;
  margin-top: 30px;
  width: 320px;
  border: none;
  border-radius: 10px;
  background-color: green;
  transition: 300ms;
}

.button-login:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.button-login:disabled {
  background-color: rgba(0, 128, 0, 0.527);
}

