.welcome-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 90px;
  color: white;
  background: linear-gradient(to bottom, rgb(46, 0, 46) 70%, #440344);
  opacity: 0.9;
  width: 100%;
  height: 600px;
}

.container-profile {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: white;
}

.my-account {
  display: flex;
  flex-direction: column;
  background-color: #360236;
  box-shadow: 0 0 30px 1px black;
  padding: 30px;
  border-radius: 30px;
  margin-right: 50px;
  transform: scale(0.9);
}

.h2-my-account {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  margin-top: 30px;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 300px;
  border-radius: 30px;
  margin-left: 50px;
}

.img-profile {
  border-radius: 100%;
  margin-bottom: 20px;
}

.favorites-length {
  font-size: 20px;
}

.label-input {
  font-size: 18px;
  margin-bottom: 5px;
}

.input-profile {
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #2B012B;
  color: white;
}

.input-profile:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.phone-input {
  margin-bottom: 120px;
}

.edit-profile {
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: green;
  box-shadow: 0 0 5px 1px;
  transition: 300ms;
  width: 100%;
}

.link-edit {
  text-decoration: none;
  color: black;
}

.edit-profile:hover {
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0 10px 1px;
  transform: scale(1.04);
}

.cancel {
  margin-top: 20px;
  background-color: red;
  color: white;
  box-shadow: 0 0 10px 1px black;
}

@media only screen and (max-width: 900px) {
  .welcome-profile {
    margin-top: 70px;
  }

  .container-profile {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .account-info {
    order: 1;
    margin: 0;
    margin-top: 20px;
    transform: scale(0.8);
  }

  .my-account {
    order: 2;
    margin: 0;
    transform: scale(0.8);
    margin-bottom: 40px;
  }
}